:root {
    /* Cores */
    --preto: #000;
    --azul-masc: #9698BC;
    --rosa-fem: #B096BC;
    --branco: #FFF;
    --cinza-pers: #D9D9D9;
}

/*------------------------*\
 Reset
\*------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.barra-promocao {
    display: flex;
    background-color: var(--cinza-pers);
    height: 25px;
}

.barra-promocao li {
    display: flex;
    justify-content: right;
    align-items: right;
    font-size: 13px;
    color: var(--preto);
}

.header-bar {
    background-color: var(--rosa-fem);
    height: 50px;

}

